/* navbar header */
.navbar-light .navbar-brand {
  color: #0065a0 !important;
  font-weight: 500;
}
.nav-link {
  font-size: 10px;
}
.fa-search {
  color: #000000;
}
.btn-primary {
  background-color: unset;
  border: unset;
}

/* titles */
.line {
  width: 25px;
  height: 3px;
  background-color: #0077be;
  margin: 5px 5px 0 0;
}
.line-item {
  width: 40px;
  height: 3px;
  background-color: #0077be;
  margin: 20px auto;
}
.title {
  font-size: 10px;
  margin: 0;
}
#head {
  display: flex;
}
#head-item {
  text-align: center;
  margin: 20px;
}

/* About Us item */
#AboutUs {
  margin-top: 20px;
  margin-bottom: 50px;
}
p {
  font-size: 13px;
}
.about-us {
  margin-top: 20px;
  margin-bottom: 20px;
}
.card {
  width: 20%;
  border: none;
}
.card-body {
  text-align: center;
  padding: 5px;
}
.card-body p {
  margin: 0;
}

/* Our Business item */
.no-gutters {
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
}
.ourbusiness-item ul {
  padding: 0;
  list-style-type: none;
}
.image {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}
.ourbusiness-row {
  display: grid;
  grid-template-columns: 10% 90%;
  max-width: 700px;
}
.relative {
  position: relative;
}
.ourbusiness-item {
  position: absolute;
  top: 30px;
  left: -25px;
  font-size: 10px;
  color: white;
}
.ourbusiness-title {
  margin: 10px 60px;
}

/* News item */
aside {
  margin-top: 50px;
  margin-bottom: 100px;
}
.columnNews img {
  width: 100%;
}
.bordernews {
  border: 1px solid black;
}
.bordernews a {
  color: #000;
  text-decoration: none;
  width: auto;
}
.short {
  height: 100%;
  padding: 0 5px;
}
.columnNews h3 {
  margin: 0;
  padding: 0 10px;
}
.columnNews p {
  padding: 0 10px;
  font-size: 10px;
}
.columnNews h6 {
  padding: 10px;
}
.justify-content-lg-center {
  padding: 0 78px;
}
table thead th {
  vertical-align: middle !important;
  padding: 5px 10px !important;
}
#table-title {
  background-color: #0077be;
  color: #ffffff;
  text-align: center;
}
.crop img {
  width: 80px;
  height: 100px;
  object-fit: cover;
}
.stretched-link {
  color: #000000;
}
.media-body a:hover {
  text-decoration: none;
  color: #858484;
}

/* Contacts item */
#Contacts {
  margin-bottom: 50px;
}
.text-center [type="submit"] {
  color: #ffffff;
  padding: 5px 50px;
  margin: 10px;
}
::-webkit-input-placeholder {
  font-size: 12px;
}
:-ms-input-placeholder {
  font-size: 12px;
}
.font-weight-bold {
  margin-bottom: 0;
}
#Contacts ul {
  padding: 0;
}
.form-row label {
  font-size: 13px;
}
.btn-dark {
  font-weight: 600;
  background-color: #fcb415;
  border-color: #fcb415;
  float: right;
}
#destination img {
  height: 200px;
  object-fit: cover;
}

/* Footer */
footer {
  background: #303030;
  color: #ffffff;
  font-size: 10px;
  padding: 30px 15px 0 15px;
}
footer ul {
  list-style-type: none;
  padding: 0;
}
footer a {
  color: #ffffff;
}
hr {
  border-color: #ffffff;
}
.form-control {
  height: calc(0.5em + 0.75rem + 2px);
  padding: 0.1rem 0.5rem;
}
.btn-group-sm > .btn,
.btn-sm {
  padding: 0.125rem 0.25rem;
  font-size: 0.7rem;
}
footer .form-control:valid {
  background-color: #303030 !important;
}
.glyphicon-chevron-right {
  color: #ffffff;
}
footer a:hover {
  text-decoration: none;
  color: #808080;
}

/* 
..............................................
..............................................
..............................................
..............................................
..............................................
*/

/* For nav-bar displays on tablet & desktop */
@media only screen and (min-width: 600px) {
  .creveanavbar {
    margin: 0px 70px !important;
  }
  .nav-link {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    color: #ffffff !important;
  }
  .bg-light {
    background-color: #0077be !important;
  }
  .navbar-light .navbar-brand {
    color: #ffffff !important;
  }
  .fa-search {
    color: #000000 !important;
  }
  .fa-search {
    color: #ffffff !important;
  }
  .navbar-light li a:hover:not(.navbar-brand) {
    text-shadow: 0px 0px 30px #fdec6e !important;
    -moz-transition: all 0.2s ease-in !important;
    -o-transition: all 0.2s ease-in !important;
    -webkit-transition: all 0.2s ease-in !important;
    transition: all 0.2s ease-in !important;
  }
  .edu {
    width: 50% !important;
  }
}

/* Only display on desktop */
@media only screen and (min-width: 800px) {
  .text-center {
    text-align: right !important;
    margin-right: -95px;
  }
  .business-item {
    width: 100% !important;
  }
  .short {
    padding: 10px 10px;
  }
  table {
    margin-top: 10px;
  }
  .form-row label {
    font-size: 10px;
  }
  .form-row label {
    font-size: 11px;
  }
}

/* Only display on tablet */
@media only screen and (max-width: 768px) and (min-width: 600px) {
  .ourbusiness-item {
    left: 10px;
  }
  .short {
    padding: 10px 15px;
  }
  .justify-content-lg-center {
    padding: 0;
  }
  #Contacts .form-row .form-control {
    width: 179%;
  }
  footer .form-row .form-control {
    width: 300%;
  }
  .crop img {
    width: 200px;
    height: 70px;
    object-fit: cover;
  }
  #Contacts ul {
    padding-left: 10px;
  }
  #Contacts .form-row .form-control {
    width: 100%;
  }
}

/* Only display on mobile */
@media only screen and (max-width: 600px) {
  .card {
    width: 30%;
  }
  .ourbusiness-item {
    top: 5px;
  }
  .image {
    width: 50px;
    height: 50px;
  }
  .ourbusiness-title {
    margin: 10px 0px 10px 180px;
  }
  .items {
    text-align: center;
    font-size: 10px;
  }
  .items h6 {
    font-size: 12px;
  }
  .ourbusiness-row {
    grid-template-columns: 40% 50%;
  }
  .short {
    padding: 0 15px 20px 15px;
  }
  .bordernews {
    border: 1px solid grey;
  }
  .justify-content-lg-center {
    padding: 0;
  }
  #Contacts .form-row .form-control {
    width: 185%;
  }
  footer .form-row .form-control {
    width: 140%;
  }
  #Contacts ul {
    list-style-type: none;
  }
  #Contacts .form-row .form-control {
    width: 100%;
  }
}
